<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
 <dict>
  <key>items</key>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <string>https://raw.githubusercontent.com/cfptest01/zxqsq/main/ESign_4.7.3_1686114739.ipa</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>need-shine</key>
     <integer>0</integer>
     <key>url</key>
     <string>https://www.google.com/imgres?imgurl=https%3A%2F%2Fis4-ssl.mzstatic.com%2Fimage%2Fthumb%2FPurple115%2Fv4%2F97%2F3e%2Ff1%2F973ef108-80d2-1dd3-d185-3312374a9d43%2Fsource%2F512x512bb.jpg&amp;tbnid=xqVCmRwbpU08aM&amp;vet=12ahUKEwjWydOw57D_AhX-CVkFHVRtBhgQMygaegUIARDqAQ..i&amp;imgrefurl=https%3A%2F%2Fappadvice.com%2Fapp%2Fe8-bd-bb-e6-9d-be-e7-ad-be-e5-8f-af-e9-9d-a0-e7-9a-84-e7-94-b5-e5-ad-90-e7-ad-be-e5-90-8d-e7-94-b5-e5-ad-90-e5-90-88-e5-90-8c-e7-ad-be-e7-bd-b2-e5-b9-b3-e5-8f-b0%2F1523408556&amp;docid=_JKBHQYQxBS-iM&amp;w=512&amp;h=512&amp;q=%E8%BD%BB%E6%9D%BE%E7%AD%BE%E5%9B%BE%E7%89%87&amp;ved=2ahUKEwjWydOw57D_AhX-CVkFHVRtBhgQMygaegUIARDqAQ</string>
    </dict>
   </array>
   <key>metadata</key>
   <array>
    <dict>
     <key>bundle-identifier</key>
     <string>p3.xyz.yyyue.esign</string>
     <key>bundle-version</key>
     <string>1.0.0</string>
     <key>kind</key>
     <string>software</string>
     <key>title</key>
     <string>轻松签</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>